$case-study-width-l: 75%;
$case-study-minwidth-l: 1080px;
$border-as-padding: .5rem solid #000;
$border-as-padding-full: 1rem soli#000;
$magic-number-padding-bottom: calc(150% + .4rem) !important;

.section-case-study {
  min-height: 100vh;
  margin-top: 0;
  background: black;
}

.case-study {
  height: 100%;

  .typography-caption {
    //margin: 0;
    font-family: 'noto_monoregular', sans-serif;
  }
  
  h1, h2, h3 {
    font-family: 'IntegralCF-DemiBold', serif;
  }

  &-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 4.250em;

    @include viewport-s {
      overflow: hidden;
      text-align: left;
      justify-content: left;
      margin-top: 2rem;
    }

    h1 {
      order: 2;
      max-width: 70%;
      flex-basis: 100%;
      margin-bottom: -3rem;
      line-height: 6rem;
      z-index: 2;
    }

    h2 {
      order: 1;
      margin-top: 3rem;
      margin-bottom: 2.75rem;
      width: 100%;

      @include viewport-s {
        margin-left: 8.335%;
        margin-top: .5rem;
      }
    }
  }

  &-featured-img {
    @include viewport-s {
      display: none;
    }
  }

  &-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: $case-study-width-l;
    min-width: $case-study-minwidth-l;
    margin: 3rem auto 4.750em;

    ul {
      list-style-type: none;
      margin-left: 0;
    }
  }

  &-content {
    display: flex;

    @include viewport-s {
      flex-wrap: wrap;
    }

    p {
      flex-basis: 50%;

      &:first-child {
        margin-right: 1rem;
      }

      &:last-child {
        margin-left: 1rem;
      }

      @include viewport-s {
        flex-basis: 100%;

        &:first-child {
          margin-right: 0;
        }

        &:last-child {
          margin-left: 0;
        }
      }
    }
  }

  &-featured-img {
    width: $case-study-width-l;
    min-width: $case-study-minwidth-l;
    height: 26rem;
    margin: 0 auto;
    order: 3;
  }

  .image-grid-container {
    display: flex;
    
    @include viewport-s {
      flex-wrap: wrap;
    }
  }

  .image-grid-tile {
    margin-bottom: 1rem;
    overflow: hidden;

    @include viewport-s {
      margin-bottom: 0;
    }
  }

  .static-img-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;

    .static-img-placeholder {
      width: 100%;
      position: relative;
    }

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      //height: auto;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .row-layout-1 {
    .image-grid-tile {
      width: 100%;
    }

    .static-img-placeholder {
      padding-bottom: 50%;
    }
  }

  .row-layout-2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 1rem;
    // .image-grid-tile {
    //   width: 50%;

    //   &:nth-child(1) {
    //     border-right: $border-as-padding;
    //   }

    //   &:nth-child(2) {
    //     border-left: $border-as-padding;
    //   }
    // }

    .static-img-placeholder {
      padding-bottom: 100%;
    }
  }

  .row-layout-3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 1rem;

    // .image-grid-tile {
    //   width: 33.33%;
    //   //box-sizing: content-box;
    //   flex-shrink: 0;

    //   &:first-child {
    //     padding-right: .66rem;
    //   }
      
    //   &:last-child, &:nth-child(2) {
    //     padding-left: .66rem;
    //   }

    //   &:nth-child(2) {
    //     padding-right: .33rem;
    //     padding-left: .33rem;
    //   }
    // }
  }

  .row-layout-4 {
    display: grid;
    grid-template-columns: calc(66.66% - .55rem) calc(33.33% - .55rem);
    grid-column-gap: 1rem;

    .image-grid-tile {

      //&:nth-child(1) {
      //   //width: calc(66.1% + .5rem);
      //   width: 66.66%;
      //   //padding-right: .5rem;
      //   border-right: $border-as-padding;
      // }

      &:nth-child(2) {
        // //width: calc(32.5% + .5rem);
        // width: 33.33%;
        // //padding-left: .5rem;
        // border-left: $border-as-padding;

        &.video-tile {
          width: calc(28.5% + .5rem);
        }

        .gatsby-image-wrapper {
          div {
            //padding-bottom: 152.65% !important;
            padding-bottom: $magic-number-padding-bottom;
          }
        }

        .video-wrapper {
            padding-bottom: $magic-number-padding-bottom;
            order: 1;
        }
      }
    }
  }  

  .row-layout-5 {
      display: grid;
      grid-template-columns: calc(33.33% - .55rem) calc(66.66% - .55rem);
      grid-column-gap: 1rem;

    .image-grid-tile {

      &:nth-child(1) {
        // //width: calc(32.5% + .5rem);
        // width: 33.33%;
        // //padding-right: .5rem;
        // border-right: $border-as-padding;

        .gatsby-image-wrapper {
          div {
            padding-bottom: $magic-number-padding-bottom;
          }
        }
      }

      // &:nth-child(2) {
      //   //width: calc(66.1% + .5rem);
      //   width: 66.66%;        
      //   //padding-left: .5rem;
      //   border-left: $border-as-padding;
      // }
    }
  }

  .row-layout-6 {
    //display: block;
    //@include clearfix;

    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-template-areas: 
    "pic1 pic1 pic2 pic2"
    "pic3 pic3 pic2 pic2";

    .image-grid-tile {
    //   width: 50%;
      &:first-child {
        grid-area: pic1;
      }
      
      &:nth-child(2) {
        grid-area: pic2;

        .gatsby-image-wrapper {
          div {
            padding-bottom: calc(150% + .98rem) !important;
          }
        }
      }

      &:last-child {
        grid-area: pic3;
      }
    //   &:nth-child(odd) {
    //     //padding-right: .5rem;
    //     border-right: $border-as-padding;
    //     float: left;
    //   }

    //   &:nth-child(even) {
    //     //padding-left: .5rem;
    //     border-left: $border-as-padding;
    //     float: right;
    //   }


      // &:nth-child(2) {
      //   .gatsby-image-wrapper {
      //     div {
      //       padding-bottom: calc(150% + .98rem) !important;
      //     }
      //   }
      // }     
    }
  }

   .row-layout-7 {
    // display: block;
    // @include clearfix;

    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-template-areas: 
    "pic1 pic1 pic2 pic2"
    "pic1 pic1 pic3 pic3";

    .image-grid-tile {
      //width: 50%;

      &:nth-child(1) {
        //padding-right: .5rem;
        // border-right: $border-as-padding;
        // float: left;
        grid-area: pic1;

        .gatsby-image-wrapper {
          div {
            padding-bottom: calc(150% + .98rem) !important;
          }
        }
      }

      &:nth-child(2) {
        grid-area: pic2;
      }

      &:nth-child(3) {
        grid-area: pic3;
      }

      // &:nth-child(2), &:nth-child(3) {
      //   //padding-left: .5rem;
      //   //border-left: $border-as-padding;
      //   //float: right;
      // }
    }
  }

  .row-layout-8 {
    .image-grid-tile {

      &:nth-child(1) {
        width: calc(68.1% + .5rem);
        //padding-right: .5rem;
        border-right: $border-as-padding;

        .gatsby-image-wrapper {
          div {
            padding-bottom: 80.4% !important;
          }
        }
      }

      &:nth-child(2) {
        width: calc(32.5% + .5rem);
        //padding-left: .5rem;
        border-left: $border-as-padding;

        &.video-tile {
          width: calc(30.5% + .5rem);
        }

        .video-wrapper {
            padding-bottom: 179.65%;
            order: 1;
        }
      }
    }
  }

  .row-layout-1, .row-layout-2, .row-layout-3, .row-layout-4, .row-layout-5, .row-layout-6, .row-layout-7, .row-layout-8 {
    .image-grid-tile { 
      @include viewport-s {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        float: none !important;
      }
    }
  }     

  .modal-close-container {
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);

    @include viewport-s {
      left: 92%;
    }
  }

  .modal-close-icon {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.pagination-nav {
  display: flex;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
  align-items: center;
  overflow: hidden;

  @include viewport-s {
    flex-wrap: wrap;
  }

  li {
    height: 26.375rem;
    margin-bottom: 0;
    //margin-bottom: 3rem;
    display: flex;
    align-items: center;
    position: relative;

    @include viewport-s {
      margin-bottom: 0;
      height: 15.375rem;
    }
  }

  a {
    text-decoration: none;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .col-3 {
    width: 25%;
    flex-basis: auto;

    @include viewport-s {
      width: 100%;
    }
  }

  .nav-content {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);

    @include viewport-s {
      margin: 0px 1.25rem;
    }
  }

  .nav-image {
    height: 30.825rem;
    width: 50%;
    position: absolute;
    z-index: -1;

    @include viewport-s {
      width: 21%;
      height: 15.375rem;
    }
  }

  .modal-close-container {
    top: 60%;
    left: 50%;
    transform: translate(-50%, calc(-60% + .5rem));

    @include viewport-s {
      left: 92%;
    }
  }

  .next-page {
    justify-content: flex-end;

    @include viewport-s {
      order: 1;
    }

    .nav-image {
      right: 0;
    }
  }

  .previous-page {
    @include viewport-s {
      order: 2;
    }
  }

  .modal-close-nav {
    @include viewport-s {
      order: 3;
      left: 50%;
    }
  }

  .modal-close-container {
    @include viewport-s {
      left: 0;
    }
  }
}
