.tl-edges {
  overflow-x: visible;
  min-height: 100vh;
  background-color: #000;
}

.tl-wrapper {
    float: none;
    background: black;
}

.section-work {
  pointer-events: none;
  z-index: 1;
  position: relative;

  h2 {
    top: 0;
    z-index: 3;
  }

  h4 {
    padding-top: 2.125em;
    margin-left: 8.33%;

    @include viewport-s {
      display: none;
    }
  }

  .case-studies-container {
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
    margin-top: -5.9rem;

    .typography-headline {
      @include viewport-s {
        font-size: 1.750rem;
        line-height: 1.750rem;
        margin-bottom: .5rem;
      }
    }

    @include viewport-s {
      margin-top: -1.2rem;
    }

    .schema {
      display: none;
    }

    &:hover {
      .case-study-item {
        opacity: 0.25;

        &:hover {
          opacity: 1;
        }
      }
    }

    &.fixed {
      .case-study-item {
        position: static;
      }

      .case-study-item-info {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 5%;
        margin-top: 0;

        @include viewport-s {
          position: absolute;
          margin-left: 8.333%;
          top: 70%;
          transform: translateY(0);
        }
      }
    }

    .case-study-tile {
      pointer-events: none;
      height: 35.38rem;
      padding-bottom: 9.250rem;
      padding-right: 1rem;

      &:hover {
        .case-study-item-info {
          opacity: 1;
        }

        h4 {
          text-decoration: line-through;
        }
      }

      @include viewport-s {
        position: relative;
        padding-right: 0;

        &:nth-child(odd) {
          margin: 0 1.25rem 0 auto;

          .case-study-item-info {
            margin-left: calc(8.33% + 1.25rem);
          }          
        }

        &:nth-child(even) {
          margin: 0 auto 0 1.25rem;
        }        
      }
    }

    .case-study-img {
      pointer-events: all;
      transition: opacity .5s ease;
    }

    .case-study-item {
      pointer-events: all;
      height: 100%;
      background-color: black;
      position: relative;
      transition: opacity .5s ease;
    }

    .case-study-item-link {
      text-decoration: none;

      &:hover {
        .case-study-item-info {
          opacity: 1;
        }
      }
    }

    figure {
      height: 100%;
    }

    .case-study-item-info {
      z-index: 5;
      opacity: 0;
      transition: opacity .5s ease;
      position: absolute;
      left: 0;
      margin-left: 5%;
      margin-top: -18%;
      width: max-content;
      max-width: 80%;

      @include viewport-s {
        opacity: 1;
        margin-left: 8.333%;
        max-width: 90%;
        position: absolute;
        top: 80%;
        transform: translateY(0);
      }

      .typography-excerpt {
        width: 40%;

        @include viewport-s {
          width: 100%;
        }
      }
    }
  }
}
