.section-case-study {
  min-height: 100vh;
  margin-top: 0;
  background: black;
}

.case-study {
  height: 100%;

  .typography-caption {
    //margin: 0;
    font-family: 'noto_monoregular', sans-serif;
  }
  
  h1, h2, h3 {
    font-family: 'IntegralCF-DemiBold', serif;
  }

  &-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;

    @include viewport-s {
      overflow: hidden;
      text-align: left;
      justify-content: left;
      margin-top: 2rem;
    }

    h1 {
      order: 2;
      flex-basis: 100%;
      margin-bottom: -3rem;
      z-index: 2;
    }

    h2 {
      order: 1;
      margin-top: 3rem;
      width: 100%;

      @include viewport-s {
        margin-left: 8.335%;
        margin-top: .5rem;
      }
    }
  }

  &-featured-img {
    @include viewport-s {
      display: none;
    }
  }

  &-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 83.33%;
    margin: 3rem auto 5rem;

    ul {
      list-style-type: none;
      margin-left: 0;
    }
  }

  &-content {
    display: flex;

    @include viewport-s {
      flex-wrap: wrap;
    }

    p {
      flex-basis: 50%;

      &:first-child {
        margin-right: 1rem;
      }

      &:last-child {
        margin-left: 1rem;
      }

      @include viewport-s {
        flex-basis: 100%;

        &:first-child {
          margin-right: 0;
        }

        &:last-child {
          margin-left: 0;
        }
      }
    }
  }

  &-featured-img {
    width: 83.33%;
    height: 26rem;
    margin: 0 auto;
    order: 3;
  }

  .image-grid-container {
    display: flex;
    
    @include viewport-s {
      flex-wrap: wrap;
    }
  }

  .image-grid-tile {
    margin-bottom: 1rem;
    overflow: hidden;

    @include viewport-s {
      margin-bottom: 0;
    }
  }

  .static-img-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;

    .static-img-placeholder {
      width: 100%;
      position: relative;
    }

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center center;
    }
  }

  .row-layout-1 {
    .image-grid-tile {
      width: 100%;
    }

    .static-img-placeholder {
      padding-bottom: 50%;
    }
  }

  .row-layout-2 {
    .image-grid-tile {
      width: 50%;

      &:nth-child(1) {
        padding-right: .5rem;
      }

      &:nth-child(2) {
        padding-left: .5rem;
      }
    }

    .static-img-placeholder {
      padding-bottom: 100%;
    }
  }

  .row-layout-3 {
    justify-content: space-between;

    .image-grid-tile {
      width: calc(33.33% - .7rem);
    }
  }

  .row-layout-4 {
    .image-grid-tile {

      &:nth-child(1) {
        width: calc(66.1% + .5rem);
        padding-right: .5rem;
      }

      &:nth-child(2) {
        width: calc(32.5% + .5rem);
        padding-left: .5rem;

        &.video-tile {
          width: calc(28.5% + .5rem);
        }

        .gatsby-image-wrapper {
          div {
            padding-bottom: 152.65% !important;
          }
        }

        .video-wrapper {
            padding-bottom: 152.65%;
            order: 1;
        }
      }
    }
  }  

  .row-layout-5 {
    .image-grid-tile {

      &:nth-child(1) {
        width: calc(32.5% + .5rem);
        padding-right: .5rem;

        .gatsby-image-wrapper {
          div {
            padding-bottom: 152.65% !important;
          }
        }
      }

      &:nth-child(2) {
        width: calc(66.1% + .5rem);        
        padding-left: .5rem;
      }
    }
  }

  .row-layout-6 {
    display: block;

    .image-grid-tile {
      width: 50%;

      &:nth-child(odd) {
        padding-right: .5rem;
        float: left;
        @include clearfix;
      }

      &:nth-child(even) {
        padding-left: .5rem;
        float: right;
        @include clearfix;
      }


      &:nth-child(2) {
        .gatsby-image-wrapper {
          div {
            padding-bottom: 152.65% !important;
          }
        }
      }     
    }
  }

   .row-layout-7 {
    display: block;

    .image-grid-tile {
      width: 50%;

      &:nth-child(1) {
        padding-right: .5rem;
        float: left;
        @include clearfix;

        .gatsby-image-wrapper {
          div {
            padding-bottom: 152.65% !important;
          }
        }
      }

      &:nth-child(2), &:nth-child(3) {
        padding-left: .5rem;
        float: right;
        @include clearfix;
      }
    }
  }

  .row-layout-8 {
    .image-grid-tile {

      &:nth-child(1) {
        width: calc(68.1% + .5rem);
        padding-right: .5rem;

        .gatsby-image-wrapper {
          div {
            padding-bottom: 80.4% !important;
          }
        }
      }

      &:nth-child(2) {
        width: calc(32.5% + .5rem);
        padding-left: .5rem;

        &.video-tile {
          width: calc(30.5% + .5rem);
        }

        .video-wrapper {
            padding-bottom: 179.65%;
            order: 1;
        }
      }
    }
  }

  .row-layout-1, .row-layout-2, .row-layout-3, .row-layout-4, .row-layout-5, .row-layout-6, .row-layout-7, .row-layout-8 {
    .image-grid-tile { 
      @include viewport-s {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        float: none !important;
      }
    }
  }     

  .modal-close-container {
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);

    @include viewport-s {
      left: 92%;
    }
  }

  .modal-close-icon {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &:before, &:after {
      width: .5rem;
      height: 2rem;
      display: block;
      content: "";
      background-color: #FFF;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      position: absolute;
      top: 0;
      transform: rotate(-45deg);
    }
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.pagination-nav {
  display: flex;
  list-style-type: none;
  margin-left: 0;
  align-items: center;
  overflow: hidden;

  @include viewport-s {
    flex-wrap: wrap;
  }

  .col-3 {
    width: 25%;
    flex-basis: auto;

    @include viewport-s {
      width: 100%;
    }
  }

  li {
    height: 26.375rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    position: relative;

    @include viewport-s {
      margin-bottom: 0;
      height: 15.375rem;
    }
  }

  a {
    text-decoration: none;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-content {
    z-index: 2;

    @include viewport-s {
      margin: 0px 1.25rem;
    }
  }

  .nav-image {
    height: 26.375rem;
    width: 58%;
    position: absolute;
    z-index: -1;

    @include viewport-s {
      width: 21%;
      height: 15.375rem;
    }
  }

  .next-page {
    justify-content: flex-end;

    @include viewport-s {
      order: 1;
    }

    .nav-image {
      right: 0;
    }
  }

  .previous-page {
    @include viewport-s {
      order: 2;
    }
  }

  .modal-close-nav {
    @include viewport-s {
      order: 3;
      left: 50%;
    }
  }

  .modal-close-container {
    @include viewport-s {
      left: 0;
    }
  }
}
