.tl-edges {
  overflow-x: visible;
}

.section-work {
  pointer-events: none;
  z-index: 1;
  position: relative;

  h2 {
    top: 0;
    z-index: 3;
  }

  .case-studies-container {
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;

    .schema {
      display: none;
    }

    &:hover {
      .case-study-item {
        opacity: 0.25;

        &:hover {
          opacity: 1;
        }
      }
    }

    &.fixed {
      .case-study-item {
        position: static;
      }

      .case-study-item-info {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 5%;
        margin-top: 0;
      }
    }

    .case-study-tile {
      pointer-events: none;
      height: 35.250rem;
      padding-bottom: 9.250rem;
      padding-right: 1rem;

      &:hover {
        .case-study-item-info {
          opacity: 1;
        }
      }
    }

    .case-study-img {
      pointer-events: all;
      transition: opacity .5s ease;
    }

    .case-study-item {
      pointer-events: all;
      height: 100%;
      background-color: black;
      position: relative;
      transition: opacity .5s ease;
    }

    .case-study-item-link {
      text-decoration: none;

      &:hover {
        .case-study-item-info {
          opacity: 1;
        }
      }
    }

    figure {
      height: 100%;
    }

    .case-study-item-info {
      z-index: 5;
      opacity: 0;
      transition: opacity .5s ease;
      position: absolute;
      left: 0;
      margin-left: 5%;
      margin-top: -18%;
      width: max-content;
      max-width: 80%;

      .typography-excerpt {
        width: 40%;
      }
    }
  }
}
