.section-hero {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;

  @include viewport-s {
    height: 85vh;
    background-position: center !important; 

    .outline-text {
      display: none;
    }
  }

  .section-intro {
    display: flex;
    position: absolute;
    top: 90%;
    //justify-content: space-between;

    @include viewport-m {
      padding: 0 3.33%;
    }

    @include viewport-s {
      flex-wrap: wrap;
    }

    .blurbs {
      flex-basis: calc(33.33% - #{$gutters-for-flexbasis});

      &:first-child {
        margin-left: 8.33%;
        margin-right: calc(8.33% + 1rem);
      }

      &:last-child {
        margin-right: 8.33%;
      }

      @include viewport-m {
        flex-basis: 100%;
        width: 100%;
      }
    }
  }

  &-header {
    width: 100%;

    @include viewport-s {
      position: relative;
    }

    // &.section-content {
    //   margin: 0 0 0 -1rem;
    // }

    .typography-hero {
      margin-bottom: 0;

      @include viewport-s {
        &:after {
          display: block;
          position: absolute;
          top: 0;
          left: 83%;
          content: "Pawn Creative";
          width: 100%;
          line-height: 3rem;
          margin-left: 1rem;
        }
      }  
    }

    .underscore {
      width: calc(8.33% - 1rem);
      height: 1rem;
      background-color: white;
      display: inline-block;
      margin-right: 1rem;

      @include viewport-s {
        display: none;
      }
    }

    .headline-content {
      width: 42rem;
      display: inline-block;
      line-height: 7rem;

      @include viewport-s {
        width: 100%;
        line-height: 3rem;
      }
    }

    .section-social {
      margin-left: 8.33%;
      font-style: italic;
      margin-top: 1.5000rem;
    }
  }
}
