.tl-wrapper-status--entered {
	.page-content {
		opacity: 1;
	}
}

.page-content {
	background-color: #000;
	opacity: 0;

	&.case-study-content {
		opacity: 1;
	}
}

.section {
	margin-top: 20rem;

	@include viewport-s {
		margin-top: 38rem;
	}

	&-work {
		margin-top: 8.125em;

		@include viewport-s {
			margin-top: 4.500em;
		}
	}

	&-contact {
		@include viewport-s {
			margin-top: 0;
		}
	}
}


.section-content {
	margin: 0 4.250rem;

	@include viewport-s {
		margin: 0 1.25rem;
	}
}
