.section {
	margin-top: 20rem;

	@include viewport-s {
		margin-top: 38rem;
	}

	&-work {
		margin-top: 8.125em;

		@include viewport-s {
			margin-top: 4.500em;
		}
	}
}


.section-content {
	margin: 0 4.250rem;

	@include viewport-s {
		margin: 0 1.25rem;
	}
}
