@import "reset";
@import "helpers";
@import "grid";
@import "typography";
@import "layout";

@import "nav";
@import "hero";
@import "case-study-roll";
@import "case-study";


html {
  color: white;
  background-color: black;
  min-height: 110vh;
}

main {
  min-height: 100vh;
  position: relative;
}

.section-case-study {
  min-height: 100vh;
  background: black;
}

a {
  color: white;
}
