.main-nav {
  position: relative;
  z-index: 1;

  &-menu {
    position: fixed;
    display: flex;
    right: 4.5%;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    z-index: 1;

    @include viewport-s {
      display: none;
    }

    ul {
      display: flex;
      list-style: none;
      margin-bottom: 4rem;

      li {
        margin-bottom: calc(4.45rem / 2);
      }

      a {
        text-decoration: none;

        &.is-active {
          text-decoration: line-through;
        }
      }
    }

    .social {
      margin-bottom: 0;

      li {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .nav-brand {
    position: absolute;
    left: 5%;
    margin-top: 3%;

    @include viewport-s {
      left: 50%;
      margin-top: 1.5rem;
      transform: translateX(-50%);
    }
  }
}
