.main-nav {
  position: relative;
  z-index: 1;

  .main-nav-menu {
    position: fixed;
    display: flex;
    right: 3%;
    top: 28%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    z-index: 1;

    ul {
      display: flex;
      list-style: none;
      margin-bottom: 4rem;

      li {
        margin-bottom: calc(4.45rem / 2);
      }

      a {
        text-decoration: none;

        &.is-active {
          text-decoration: line-through;
        }
      }
    }

    .social {
      li {
        margin-bottom: 1rem;
      }
    }
  }

  .nav-brand {
    position: absolute;
    left: 5%;
    margin-top: 3%;
  }
}
