// @font-face {
//  font-family: 'noto_monoregular';
//  src: url('fonts/NotoMono-Regular-webfont.eot');
//  src: url('fonts/NotoMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
//  url('fonts/NotoMono-Regular-webfont.woff2') format('woff2'),
//  url('fonts/NotoMono-Regular-webfont.woff') format('woff'),
//  url('fonts/NotoMono-Regular-webfont.ttf') format('truetype'),
//  url('fonts/NotoMono-Regular-webfont.svg#noto_monoregular') format('svg');
//  font-weight: normal;
//  font-style: normal;
// }

// @font-face {
//   font-family: 'IntegralCF-DemiBold';
//   src: url('fonts/integral-cf-demi-bold.woff2') format('woff2');
//   src: url('fonts/integral-cf-demi-bold.eot?#iefix') format('embedded-opentype'),
//          url('fonts/integral-cf-demi-bold.eot'),
//        url('fonts/integral-cf-demi-bold.woff') format('woff'),
//        url('fonts/integral-cf-demi-bold.ttf') format('truetype'),
//        url('fonts/integral-cf-demi-bold.svg#youworkforthem') format('svg');
//   font-weight: normal;
//   font-style: normal;
//   font-display: fallback;
// }

body {
  font-family: 'noto_monoregular', Arial, sans-serif;
}

h1, h2, h3 {
  font-family: 'IntegralCF-DemiBold', serif;
}

h1 {
  font-size: 6.250rem;
}

h2 {
  font-size: 3.500rem;
}

h1, h2  {
  .outline-text {
    display: block;
    font-size: 5.714rem;
  }
}

.title, .subtitle {
  font-family: 'noto_monoregular', sans-serif;
  font-weight: normal;
}

.outline-text {
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.typography-hero {
	font-family: 'IntegralCF-DemiBold', Arial, sans-serif;
	font-size: 7.143rem;

  @include viewport-s {
    font-size: 3.500rem;
  }
}

.typography-hero-link {
  font-family: 'IntegralCF-DemiBold', Arial, sans-serif;
  font-size: 1.5000rem;
}

.typography-headline {
	font-family: 'IntegralCF-DemiBold', Arial, sans-serif;
	font-size: 5.714rem;
	line-height: 4.75rem;
  margin-bottom: 2rem;
}

.typography-subhead {
  font-family: 'IntegralCF-DemiBold', Arial, sans-serif;
  font-size: 3.5rem;
}

.typography-caption {
	font-size: 1rem;
}
